# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
.conda/

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Dataset
# =========================
real_data/
fake_data/
data/
make_fake_data/

# large wireless data
*.npz
*.npy
*.pcd
*.bin
*.mat
*.zip

# =========================
# Logs / checkpoints
# =========================
logs/
checkpoints/

*.pth
*.pt

# =========================
# Generated images
# 默认不上传png
# =========================
*.png
*.jpg
*.jpeg

# =========================
# BUT keep assets images
# README展示图允许上传
# =========================
!assets/
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.jpeg

# =========================
# Optional
# =========================
*.log